<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= link_to post.title, post_path(post) %>
  <% end %>
<% else %>
  <h3>No Posts yet</h3>
<% end %>

<%= link_to 'New Post', :action => :new %>
